@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap');
/* shared styles */
*{
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
border-radius: 8px;
color: #fff;
font-size: 1.24rem;
background: #ff900e;
padding: 20px 25px;
color: #fff;
cursor: pointer;
border: 0;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700px;
    color: #131313;
}
/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 800;
    color: #131313;
}
.text-light-gray{
    color: #727272;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}
/* main style */
main{
    max-width: 1440px;
    margin: 70px auto;
}
/* teams style */
.teams-container{
    display: flex;
    align-items: center;
}
.team-img-containar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}.teams-title{
    font-size: 2.8rem;
}
.teams-title>.Quick-list{
    color: #727272;
    font-weight: 500px;
}
.teams-title .text-features{
    color: #FF900f;
    font-weight: 700px;
}
/* feature section styles */
.features{
    margin: 130px;
    display: flex;
    gap: 100px;
}
.features .section-title{
    border-left: 5px solid #ff900e;
    padding-left: 20px;
}
.feature-content .card{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.ten-year-badge{
    border-radius: 8px;
    background: #ff900e;
    color: #FFF;
    width: 340px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten-year-badge h2{
    font-size: 4rem;
    margin-top: 0;
}
.ten-year-badge p{
    font-size:1.5rem;
}
.feature-img img{
    height: 80%;
    margin-left: 50px;
}
/* facts section */
.facts-card-conteinar{
    display: flex;
    justify-content: space-between;
}
.facts-card-conteinar .card{
    border-radius: 8px;
    border: 1px solid #ff900e;
    text-align: center;
    padding: 40px 30px;
}
.facts-card-conteinar .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card-conteinar .card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}
 /* sponsors style */
 .sponsors{
    text-align: center;
  }
  .sponsors-img-containar{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 20px;
    align-items: center;
  }
  .sponsors-img-containar img{
    width: 165px;
  }

/* responsive midea quary */
/* mobile devices */
@media screen and (max-width: 576px){
    header{
        padding: 20px;
    }
    nav ,
    .teams-container,
    .features,
    .facts-card-conteinar,
    .sponsors-img-containar{
        flex-direction: column;
    }
    .feature-img img{
        width: 100%;
        margin-left: 0;
    }
    .ten-year-badge{
        position: static;
        max-width: 300px;
    }
    .facts-card-conteinar{
        gap: 20px;
    }
    .team-img-containar{
        grid-template-columns: 1fr;
    }
    .teams-content,
    .facts-card-conteina{
        padding-left: 20px;
        padding-right: 20px;
    }
   
/* teblat or mideum devices */
@media screen (min-width:576px) (max-width:960px) {
    header{
        padding:20px;
    }
    nav,
    .teams-container,
    .sponsors-img-containar,
    .features{
        flex-direction: column;
    }